<!doctype html>
<html lang="it">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- basic CSS -->
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.9.0/build/reset-fonts/reset-fonts.css&2.9.0/build/base/base-min.css">
  <link rel="stylesheet" href="http://cachedcommons.org/cache/960/0.0.0/stylesheets/960-min.css">
  <link rel="stylesheet" href="/css/styles.css?v=1.0">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script src="http://cachedcommons.org/cache/dd-belated-png/0.0.8/javascripts/dd-belated-png-min.js"></script>
  <script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>
  <![endif]-->
  <style>
  div { background-color: #f00; }
  </style>
</head>
<body>

<div class="container_12">
  <div class="grid_7 prefix_1">
      <div class="grid_2 alpha">
          text left
      </div>
      <div class="grid_3">
          text main
      </div>
      <div class="grid_2 omega">
          text right
      </div>
  </div>
  <div class="grid_3 suffix_1">
      right content
  </div>
</div>

    <!-- scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <script src="http://cachedcommons.org/cache/underscore/1.1.0/javascripts/underscore-min.js"></script>
    <script src="http://cachedcommons.org/cache/json2/0.0.0/javascripts/json2-min.js"></script>

    <script src="http://cachedcommons.org/cache/qunit/1.0.0/javascripts/qunit-min.js"></script>

    <script src="/js/scripts.js"></script>
</body>
</html>

