_jedit/nosplash
_jedit/perspective.xml
_jedit/pluginMgr-Cached.xml.gz
_jedit/printspec
_jedit/qn.txt
_jedit/recent.xml
_jedit/server
_jedit/activity.log
_jedit/killring.xml
_jedit/mirrorList.xml
_jedit/history
_jedit/jars/*.jar
_jedit/cache/*
_jedit/jars-cache/*.jar.summary
_jedit/settings-backup/
_jedit/DockableWindowManager/perspective-view0.xml
_jedit/plugins/ise.plugin.bmp.BufferLocalPlugin/.bufferlocalplugin.cfg
_jedit/plugins/gatchan.highlight.HighlightPlugin/
_jedit/DockableWindowManager/
_jedit/plugins/updater.UpdaterPlugin/
_jedit/plugins/sessions.SessionsPlugin/
_jedit/plugins/ftp.FtpPlugin/cache/*.tmp
_jedit/plugins/tasklist.TaskListPlugin/binary.props
_jedit/plugins/xml.XmlPlugin/cache/*.tmp
_jedit/plugins/xml.XmlPlugin/cache/password-cache
_jedit/plugins/projectviewer.ProjectPlugin/projects/*
# gestione delle sessioni, non vengono pubblicate in github
_jedit/__sessions/*.xml

/_jedit/plugins/ftp.FtpPlugin/password-cache
